.LargeText{
  padding-top: 25px;
  font-weight: 500 !important;
  color: #383e45;
  font-size: 2.7em !important;
}

.Text{
    padding: 10px;
    color: #555E69;
}

.Centralizar{
  text-align: center;
}

.Centralizar Button{
  height: 2.5em;
  background-color: #FA403A;
  color: white;
  font-size: 1.5em;
}

.Upload {
  display: none;
}

.Paper{
  width:200px;
  height: 250px;
  opacity: 0.6;
  padding: 5%;
}

.Paper:hover{
  opacity: 1.0;
}

.Pane{
  width:200px;
  height: 250px;
  opacity: 0.6;
}

.Panes {
  margin-top: 100px;
  margin-left: 30%;
  margin-right: auto;
}

.Drawer{
  width: 240;
  margin-top: 62px;
}