
.ContainerPrincipal {
  margin: 30px;
  background-color: white;
  box-shadow: 2px 2px 3px 2px #999;
  text-align: center;
}

.BotaoMenuPrincipal {
  margin-right: 5px;
  margin-left: 0px;
  width: 200px;
  height: 200px;
  padding-left: 5px;
}

.DescricaoMenuPrincipal {
  color: gray;
  font-size: 0.875em !important;
}

.IconMenuPrincipalRotate90 {
  transform: rotate(90deg);
  float: left;
  color: red;
  padding-bottom:  25px;
}

.IconMenuPrincipal{
  float: left;
  color: red;
  padding-left: 25px;
  padding-top: 12px;
  font-size: 2.6em !important;
}

.IconMenuPrincipalConverter{
  float: left;
  color: red;
  padding-left: 0px;
  padding-top: 12px;
  font-size: 2.6em !important;
}

.Titulo {
    color: white;
    padding-top: 20px;
}

.Subtitulo {
  color: white;
  padding-top: 10px;
}

body {
  background-image: url("Fundo-espaco.jpg");
  background-repeat: no-repeat;
  background-size: 100% 500px;
  background-color: Lightgray;
}
