.Centralizar{
    text-align: center;
}

.Centralizar Button{
    height: 2.5em;
    background-color: #FA403A;
    color: white;
    font-size: 1.5em;
    margin-top: 20px;
}

.Upload {
    display: none;
}

.TitleDrawer {
    padding-top: 5px;
    padding-bottom: 5px;
    font-weight: 500 !important;
    color: #383e45;
    font-size: 2em !important;
    text-align: center;
    margin:  0;
}

.TextDrawer{
    margin: 10px;
    padding: 5px;
    color: #555E69;
    text-align: justify;
    background-color: rgb(186, 226, 231);
    border-radius: 10px;
}

.ButtonDrawerDividirPDF{
    text-align: center;
    height: 2.8em ;
    background-color: #FA403A !important;
    color: white !important;
    font-size: 1em !important;
    position: fixed !important;
    bottom: 10px;
    right: 10px;
    width: 33vw;
    transition: 2s;
}

.ButtonDrawerDividirPDF:hover{
    width: 33.5vw;
    height: 3em;
}

.ButtonDrawerDisabledDividirPDF{
    text-align: center;
    height: 2.8em ;
    background-color:rgb(224, 224, 224) !important;
    color: white !important;
    font-size: 1em !important;
    position: fixed !important;
    bottom: 10px;
    right: 10px;
    width: 37vw;
}

.IconJuntar {
    transform: rotate(90deg);
    color: white;
}


.AlinhamentoDividirPDF {
    right: 37vw;
    position: fixed;
}

.SliderDividirPDF {
    width: 20vw !important;
    margin-top: 20px;
    margin-right: 30px;
}

.TextAba{
    margin: 10px;
    padding: 5px;
    color: #555E69;
    text-align: justify;
}

.InputSlider{
    position: absolute !important;
    margin-top: 5px;
    border: 1px solid;
    border-radius: 5px;
    border-color: #555E69;
    height: 40px;
}

.Intervalo{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.IntervaloInput{
    margin-right: 50px;
    border:1px solid;
    border-radius: 5px;
    border-color: #555E69;
    height: 40px;
}

.ToggleButton{
    margin-top: 10px;
    max-width: 30vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
}