.Logo {
  width: 120px;
  max-height: 50px;
  padding: 5px;
  padding-top: 15px;
  padding-left: 0px;
  padding-right: 2%;
  float: left;
  display: inline;
}

@media(max-width: 959px){
  .Toolbar {
    width: 100vw;
    height: 9.5vh;
    padding-left: 10px;
    background-color: white;
    box-shadow: 1px 2px 5px 2px #C9C9C9;
    display: inline-flex;
    align-items: center;
    justify-content: center;
  }
}
.Toolbar {
  width: 100vw;
  height: 9.5vh;
  padding-left: 10px;
  background-color: white;
  box-shadow: 1px 2px 5px 2px #C9C9C9;
  display: inline-flex;
  align-items: center;
}

.MenuText {
  display: inline-block;
  padding: 12px;
  padding-top: 15px;
  color: gray;
}

.IconDropdown {
  color: gray;
  float: left;
}

.MenuIcon {
  position: fixed;
  right: 1vw;
  padding-top: 15px;
  margin-right: 20px;
}

.IconToolBarRotate90 {
  transform: rotate(90deg);
  float: left;
  color: #FA403A;
  font-size: 1.5rem !important;
}

.IconsToolBar{
  float: left;
  color: #FA403A;
  font-size: 1.5rem !important;
}

.IconsToolBarConverte{
  float: left;
  color: #FA403A;
  font-size: 1.5rem !important;
}

.AjusteMenu{
  margin-left: 10px !important;
  width: fit-content !important;
}
